.desk{
    line-height: 0.5px;
}

.desk1{
    width: 65%;
    margin:0 auto ; 
    border:1px  solid black ;
}

body{
    background-image: linear-gradient(to left , rgba(255,0,0,1), rgba(0,255,255,1));
}